<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Bean of the dependency -->
    <bean id="outfit" class="fr.wildcodeschool.thewizardproject.Outfit">
    </bean>

    <!-- Bean of the book -->
    <bean id="dumbledore" class="fr.wildcodeschool.thewizardproject.Dumbledore">
        <!-- Injection in the constructor : -->
        <constructor-arg ref="outfit"/>
    </bean>
    
    <bean id="gandalf" class="fr.wildcodeschool.thewizardproject.Gandalf">
        <!-- Injection in the constructor : -->
        <constructor-arg ref="outfit"/>
    </bean>

</beans>